
.search-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input {
  margin-bottom: 6rem;
  width: 90vh;
  padding: 1.5rem;
  border-bottom: 1px solid black;
  outline: none;
}

input::placeholder {
  font-size: 1.6rem;
}

.products-container {
  display: grid;
  grid-template-columns: 70rem 70rem;
  /* grid-template-rows: repeat(10, 50rem); */
  grid-template-rows: auto;
  gap: 4rem;
}
.product-card {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 4rem;

  padding: 2rem;

  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  text-align: left;
  border-radius: 2rem;
}

.product-img-container {
  height: 100%;
  flex: 1;
}

.product-img {
  width: 100%;
  object-fit: contain;
}

.product-info-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 2rem;
  flex: 1;
}

.product-price {
  font-size: 2rem;
  color: green;
}



.cart-btn:hover {
  opacity: 0.9;
}
